a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.cont-top {
    line-height: 40px;
    background-color: #336699;
    width: 100%;
    height: 40px;
    box-shadow: 4px 4px 10px #ccc;
}

.cont-top .cont-top-center {
    margin: auto auto;
    width: 1100px;
    position: relative;
    height: 40px;
}

.cont-top .websiename {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    color: #FFF;
}

.cont-top .cont-top-middle {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
}

.cont-top .cont-top-middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cont-top .cont-top-middle ul li {
    display: inline-block;
    // float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.cont-top .cont-top-middle ul li a:hover {
    color: #F90;
}

.shoppingCart {
    position: relative;
    width: 80px;
    height: 40px;
}

/*导航栏*/
#navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: #ffffff;
}

/*导航栏嵌套一个div，并使它居中*/
#navbarbox {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*菜单开始↓↓↓*/
// #navcon {
//     // flow-grow: 3;
// }

#navcon ul li {
    float: left;
    text-align: center;
    list-style-type: none;
}

#navcon ul li a {
    font-family: "微软雅黑";
    color: #999;
    text-decoration: none;
    line-height: 30px;
    display: block;
    height: 30px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/*菜单显示当前页面*/
#navcon ul li a.active {
    color: #336699;
    background-color: #DEDEDE;
    border-radius: 5px;
}

/*鼠标移到菜单上的样式*/
#navcon ul li a:hover {
    background-color: #DEDEDE;
    border-radius: 5px;
    color: #336699;
}

/*菜单结束↑↑↑*/
/*搜索框所处的 大div 样式*/
#navrboxright {
    display: flex;
    align-items: center;
    position: relative;
}

#search {
    padding-left: 10px;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #336699;
    border-right-color: #336699;
    border-left-color: #336699;
    border-bottom-color: #336699;
    height: 40px;
    width: 300px;
    color: #336699;
    outline: none;
    font-size: 14px;
}

.searchclick {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #336699;
    text-align: center;
    line-height: 40px;
}

#searchbutton {
    width: 50px;
    height: 25px;
}

/*logo样式*/
#logo {
    height: 60px;
    width: 140px;
    align-items: center;
}
/*导航路径*/
.path {
    background-color: #f5f5f5;
    width: 100%;
}

.path-center {
    margin: auto auto;
    width: 1100px;
    position: relative;
    height: 40px;
}

.path-items {
    line-height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    list-style-type: none;
}

.path-items li {
    float: left;
    list-style-type: none;
}

.path-items li a {
    font-size: 12px;
    color: #888;
}

.sep {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    color: #888888;
}
main{
    width: 1100px;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom: 20px;
    .nav {
        height: 33px;
        border-bottom: 2px solid rgb(217, 217, 217);
        background-color: rgb(246, 245, 245);
    }
    
    tr {
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    
    td {
        display: flex;
        flex-direction: column;
    }
    
    td span {
        font-size: 10px;
    }
    
    .Son1 {
        width: 540px;
    }
    
    .Son2 {
        width: 200px;
        flex-direction: row;
        cursor: pointer;
    }
    
    .Son2 span {
        padding: 0 4px;
        border: 1px solid #ccc;
        user-select: none;
    }
    
    .Son2 span:nth-of-type(1) {
        border-right: none;
    }
    
    .Son2 span:nth-of-type(2) {
        border-left: none;
    }
    
    .Son3 {
        width: 135px;
    }
    
    .Son3 b {
        color: orangered;
    }
    
    .Son4 {
        width: 150px;
    }
    
    .Son4 span:nth-of-type(2) {
        color: rgb(41, 141, 70);
    }
    
    .Son5 {
        width: 70px;
    }
    
    th {
        text-align: left;
        line-height: 33px;
    }
    
    .shops {
        width: 80px;
        height: 60px;
    }
    
    .shopList {
        height: 100px;
        align-items: center;
    }
    
    .shopList .Son5 {
        align-items: center;
    }
    
    .imgTd {
        width: 105px;
        align-items: center;
    }
    
    .titleTd {
        width: 435px;
    }
    
    .titleTd h6 {
        font-size: 10px;
        color: rgb(0, 151, 219);
    }
    
    .count {
        width: 25px;
        height: 19px;
        text-align: center;
    }
    
    .countall {
        justify-content: space-between;
        height: 130px;
    }
    
    .countall td {
        justify-content: center;
    }
    
    .iconL {
        display: inline-block;
        border: 5px solid transparent;
        border-right-color: black;
    }
    
    .iconR {
        display: inline-block;
        border: 5px solid transparent;
        border-left-color: white;
    }
    
    .countRight span:nth-of-type(1) b {
        color: orangered;
    }
    
    .countRight span:nth-of-type(2) {
        line-height: 40px;
        color: rgb(41, 141, 70);
    }
    
    .countRight button {
        background-color: orangered;
        border-radius: 13px 0 0 13px;
        border: none;
        width: 190px;
        height: 30px;
        color: white;
        font-weight: bolder;
        padding-left: 9px;
        
    }
    .total{
        width: 1000px;
        text-align: right;
        margin: 0 auto;
        font-size: 30px;
    }
    .total2{
        width: 1000px;
        text-align: right;
        margin: 0 auto;
        font-size: 26px;
        color:rgb(41, 141, 70)
    }
    .nullgoods{
        height: 100%;
        justify-content: center;
        align-items: center;
        display: none;
        
    }
    .nullgoods td span{
        text-align: center;
        font-size: 30px;
        color: #666;
    }
}
.footer {
    background-color: #336699;
    height: 380px;
    width: 100%;
    padding-top: 50px
}

.footerbox {
    width: 800px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    float: left;
    width: 150px;
    margin-right: 25px;
    margin-left: 25px;
    display: block;
}

.footerbox ul li dt {
    font-family: "微软雅黑";
    font-size: 24px;
    color: #CCC;
    margin-bottom: 20px;
}

.footerbox ul li dd {
    padding: 0;
    display: block;
    width: 200px;
    height: 30px;
}

.footerbox ul li dd a {
    font-size: 16px;
    color: #FFF;
    display: block;
    height: auto;
    font-family: "微软雅黑";
}

.foot_bottom {
    height: 80px;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    text-align: center;
}

.footer .foot_bottom .text {
    font-size: 16px;
    line-height: 80px;
    font-weight: bold;
    color: #FFF;
    margin-right: auto;
    margin-left: auto;
    width: 950px;
}