a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.cont-top {
    line-height: 40px;
    background-color: #336699;
    width: 100%;
    height: 40px;
    box-shadow: 4px 4px 10px #ccc;
}

.cont-top .cont-top-center {
    margin: auto auto;
    width: 1100px;
    position: relative;
    height: 40px;
}

.cont-top .websiename {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    color: #FFF;
}

.cont-top .cont-top-middle {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
}

.cont-top .cont-top-middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cont-top .cont-top-middle ul li {
    display: inline-block;
    // float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.cont-top .cont-top-middle ul li a:hover {
    color: #F90;
}

.shoppingCart {
    position: relative;
    width: 80px;
    height: 40px;
}

/*导航栏*/
#navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: #ffffff;
}

/*导航栏嵌套一个div，并使它居中*/
#navbarbox {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*菜单开始↓↓↓*/
// #navcon {
//     // flow-grow: 3;
// }

#navcon ul li {
    float: left;
    text-align: center;
    list-style-type: none;
}

#navcon ul li a {
    font-family: "微软雅黑";
    color: #999;
    text-decoration: none;
    line-height: 30px;
    display: block;
    height: 30px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/*菜单显示当前页面*/
#navcon ul li a.active {
    color: #336699;
    background-color: #DEDEDE;
    border-radius: 5px;
}

/*鼠标移到菜单上的样式*/
#navcon ul li a:hover {
    background-color: #DEDEDE;
    border-radius: 5px;
    color: #336699;
}

/*菜单结束↑↑↑*/
/*搜索框所处的 大div 样式*/
#navrboxright {
    display: flex;
    align-items: center;
    position: relative;
}

#search {
    padding-left: 10px;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #336699;
    border-right-color: #336699;
    border-left-color: #336699;
    border-bottom-color: #336699;
    height: 40px;
    width: 300px;
    color: #336699;
    outline: none;
    font-size: 14px;
}

.searchclick {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #336699;
    text-align: center;
    line-height: 40px;
}

#searchbutton {
    width: 50px;
    height: 25px;
}

/*logo样式*/
#logo {
    height: 60px;
    width: 140px;
    align-items: center;
}
/*导航路径*/
.path {
    background-color: #f5f5f5;
    width: 100%;
}

.path-center {
    margin: auto auto;
    width: 1200px;
    position: relative;
    height: 40px;
}

.path-items {
    line-height: 40px;
    position: absolute;
    top: 0px;
    left: 50px;
    list-style-type: none;
}

.path-items li {
    float: left;
    list-style-type: none;
}

.path-items li a {
    font-size: 12px;
    color: #888;
}

.sep {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    color: #888888;
}
main{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom: 20px;
    .pic{
        width: 500px;
        height: 600px;
        // background: yellowgreen;
        .imgbox{
            width: 100%;
            height: 500px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            .smallimgbox {
                width: 250px;
                height: 250px;
                background: rgba(248, 229, 52, 0.6);
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        nav{
            li{
                width: 20%;
                height: 100%;
                float: left;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
        // .bigimg {
        //     /* background: orange; */
        //     position: absolute;
        //     top: 0;
        //     right: -600px;
        //     width: 600px;
        //     height: 600px;
        //     display: none;

        // }
        // width: 450px;
        // margin: 50px;
        //     display: flex;
        //     flex-direction: column;

        //     position: relative;

        // .box>.show {
        //     width: 450px;
        //     height: 450px;
        //     border: 1px solid #333;
        //     position: relative;
        // }
        // .box>.show img{
        //     width: 100%;
        //     height: 100%;
        // }
        // .box>.show>.mask {
        //     width: 200px;
        //     height: 200px;
        //     background-color: yellow;
        //     opacity: .4;
        //     position: absolute;
        //     top: 0px;
        //     left: 0px;

        //     display: none;
        // }

        // .box>.list {
        //     width: 100%;
        //     flex: 1;

        //     display: flex;
        //     justify-content: flex-start;
        //     align-items: center;
        //     box-sizing: border-box;
        //     padding: 20px;
        // }

        // .box>.list>p {
        //     width: 54px;
        //     height: 54px;
        //     border: 1px solid #333;
        //     margin-right: 10px;
        // }

        // .box>.list>p.active {
        //     border-color: red;
        // }

        // .box>.enlarge {
        //     /* 容器 与背景图的比例为 1 ：2 */
        //     width: 400px;
        //     height: 400px;
        //     position: absolute;
        //     top: 0;
        //     left: 101%;
        //     background: url(../images/1.big.jpg) no-repeat;
        //     background-size: 800px 800px;
        //     background-position: 0 0;
        //     display: none;
        // }
    }
    .word{
        flex: 1;
        // height: 100%;
        // background: lightskyblue;
        box-sizing: border-box;
        padding: 10px 30px;

        .title{
            font-size: 24px;
            color: #666;
            font-weight: bolder;
        }
        .price{
            font-size: 50px;
            color: #3A6FFF;
        }
        .weight,
        .shop,
        .sell{
            // font-size: 20px;
            color: #666;
        }
        p{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        span{
            font-size: 14px;
            color: #999;
            margin-right: 10px;
        }
        .add_cart{
            width: 150px;
            height: 50px;
            background: #3A6FFF;
            border-radius: 3px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}
.footer {
    background-color: #336699;
    height: 380px;
    width: 100%;
    padding-top: 50px
}

.footerbox {
    width: 800px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    float: left;
    width: 150px;
    margin-right: 25px;
    margin-left: 25px;
    display: block;
}

.footerbox ul li dt {
    font-family: "微软雅黑";
    font-size: 24px;
    color: #CCC;
    margin-bottom: 20px;
}

.footerbox ul li dd {
    padding: 0;
    display: block;
    width: 200px;
    height: 30px;
}

.footerbox ul li dd a {
    font-size: 16px;
    color: #FFF;
    display: block;
    height: auto;
    font-family: "微软雅黑";
}

.foot_bottom {
    height: 80px;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    text-align: center;
}

.footer .foot_bottom .text {
    font-size: 16px;
    line-height: 80px;
    font-weight: bold;
    color: #FFF;
    margin-right: auto;
    margin-left: auto;
    width: 950px;
}