a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.cont-top {
    line-height: 40px;
    background-color: #336699;
    width: 100%;
    height: 40px;
    box-shadow: 4px 4px 10px #ccc;
}

.cont-top .cont-top-center {
    margin: auto auto;
    width: 1100px;
    position: relative;
    height: 40px;
}

.cont-top .websiename {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    color: #FFF;
}

.cont-top .cont-top-middle {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
}

.cont-top .cont-top-middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cont-top .cont-top-middle ul li {
    display: inline-block;
    // float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.cont-top .cont-top-middle ul li a:hover {
    color: #F90;
}

.shoppingCart {
    position: relative;
    width: 80px;
    height: 40px;
}

/*导航栏*/
#navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: #ffffff;
}

/*导航栏嵌套一个div，并使它居中*/
#navbarbox {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*菜单开始↓↓↓*/
// #navcon {
//     // flow-grow: 3;
// }

#navcon ul li {
    float: left;
    text-align: center;
    list-style-type: none;
}

#navcon ul li a {
    font-family: "微软雅黑";
    color: #999;
    text-decoration: none;
    line-height: 30px;
    display: block;
    height: 30px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/*菜单显示当前页面*/
#navcon ul li a.active {
    color: #336699;
    background-color: #DEDEDE;
    border-radius: 5px;
}

/*鼠标移到菜单上的样式*/
#navcon ul li a:hover {
    background-color: #DEDEDE;
    border-radius: 5px;
    color: #336699;
}

/*菜单结束↑↑↑*/
/*搜索框所处的 大div 样式*/
#navrboxright {
    display: flex;
    align-items: center;
    position: relative;
}

#search {
    padding-left: 10px;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #336699;
    border-right-color: #336699;
    border-left-color: #336699;
    border-bottom-color: #336699;
    height: 40px;
    width: 300px;
    color: #336699;
    outline: none;
}

.searchclick {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #336699;
    text-align: center;
    line-height: 40px;
}

#searchbutton {
    width: 50px;
    height: 25px;
}

/*logo样式*/
#logo {
    height: 60px;
    width: 140px;
    align-items: center;
}

.banner {
    height: 400px;
}

.swiper-slide img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1920px;
    height: 100%;
    overflow: hidden;
}

.swiper-slide-active {
    z-index: 9 !important;
}

main {
    background: #f6f6f6;
    padding-bottom: 100px;
    .section_outside {
        width: 1100px;
        margin: 0 auto;

        figure {

            figcaption {

                img {
                    width: 100%;
                }
            }

            article {
                height: 540px;
                background: #fff;
                display: flex;

                aside {
                    padding-right: 10px;
                    width: 190px;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }

                ul {
                    flex: 1;

                    li {
                        float: left;
                        width: 20%;
                        height: 50%;
                        padding: 15px;
                        box-sizing: border-box;
                        cursor: pointer;
                        .goods_pic {
                            width: 160px;
                            height: 160px;
                            margin: 0 auto;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .goods_title {
                            text-align: center;
                            p {
                                
                                font-size: 14px;
                                color: #666;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                            span{
                                color: #336699;
                                margin-top: 10px;
                                display: inline-block;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #336699;
    height: 380px;
    width: 100%;
    padding-top: 50px
}

.footerbox {
    width: 800px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    float: left;
    width: 150px;
    margin-right: 25px;
    margin-left: 25px;
    display: block;
}

.footerbox ul li dt {
    font-family: "微软雅黑";
    font-size: 24px;
    color: #CCC;
    margin-bottom: 20px;
}

.footerbox ul li dd {
    padding: 0;
    display: block;
    width: 200px;
    height: 30px;
}

.footerbox ul li dd a {
    font-size: 16px;
    color: #FFF;
    display: block;
    height: auto;
    font-family: "微软雅黑";
}

.foot_bottom {
    height: 80px;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    text-align: center;
}

.footer .foot_bottom .text {
    font-size: 16px;
    line-height: 80px;
    font-weight: bold;
    color: #FFF;
    margin-right: auto;
    margin-left: auto;
    width: 950px;
}